# Ignore node_modules everywhere
node_modules/
**/node_modules/

# Build outputs
/frontend/dist/
/frontend/build/
/backend/node_modules/
/backend/dist/
/backend/build/

# dotenv files
.env
*.env

# OS / IDE files
.DS_Store
.vscode/
